<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dipak Roy Portfolio </title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/0e3b66aedd.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="header">
        <div class="container">
            <nav>
                <img src="https://drive.google.com/uc?id=1go3Lcsvb502h_xGR00RIyO3EZ3wQ2xaM" class="logo">
                <ul id="sidemenu">
                    <li><a href="#header">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">services</a></li>
                    <li><a href="#protfolio">Portfolio</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <i class="fa-sharp fa-solid fa-circle-xmark" onclick="closemenu()"></i>
                </ul>
                <i class="fa-solid fa-bars" onclick="openmenu()"></i>
            </nav>
            <div class="header-text">
                <p>Python Developer</p>
                <h1>Hi, I'm <span>Dipak Roy</span> <br> From Bangladesh</h1>

            </div>

        </div>

    </div>
<!---------------About----------------->
    <div id="about">
        <div class="container">
            <div class="row">
                <div class="about-col-1">
                    <img src="https://drive.google.com/uc?id=1kSmHHQNgqDxfZ8_cwbDrvSAJgeLpP3sN" alt="">
                </div>
                <div class="about-col-2">
                    <h1 class="sub-title">About me</h1>
                    <p>
                        I am Dipak Roy. I am a hardworking engineering graduate student with a 3.69 CGPA who specializes in Computer Science and Engineering along with my degree. I completed Python and Oracle Developer courses, and the various technologies I learned have helped me.
                    </p>

                    <div class="tab-titles">
                    <p class="tab-links active-link" onclick="opentab('skills')">Skills</p>
                    <p class="tab-links" onclick="opentab('experience')">Experience</p>
                    <p class="tab-links" onclick="opentab('education')">Education</p>
                    </div>
                    <div class="tab-contents active-tab" id="skills">
                        <ul>
                            <li><span>SQL</span><br>Database</li>
                            <li><span>Python</span><br>Pogramming Language</li>
                            <li><span>Web Development</span><br>Web app Development</li>
                            
                        </ul>
                    </div>
                    <div class="tab-contents" id="experience">
                        <ul>
                            <li><span>It Officer</span><br>Lazzpharma</li>
                            <li><span>Senior It officer</span><br>Live Pharma</li>
                            <li><span>Hardware</span><br>Multiplan</li>
                            
                        </ul>
                    </div>
                    <div class="tab-contents" id="education">
                        <ul>
                            <li><span>Bsc</span><br>Bangladesh University</li>
                            <li><span>Diploma</span><br>CCN Polytechnich Institute</li>
                            <li><span>SSC</span><br>Dhampti Habibur Rahaman High School</li>
                            
                        </ul>
                    </div>
            </div>
        </div>
    </div>
<!----------------Services------------------>
    <div id="services">
        <div class="container">
            <h1 class="sub-title">My Services</h1>
            <div class="services-list">
                <div>
                    <i class="fa-solid fa-database"></i>
                    <h2>Database</h2>
                    <p>I am providing you a good website for your company. when you want to customize your website i will help you. i will support you if you will face any issu.</p>
                    <a href="#">learn more</a>
                </div>
                <div>
                    <i class="fa-brands fa-python"></i>
                    <h2>Python Pogramming</h2>
                    <p>I am providing you how to rich your webpage and how to build customer.</p>
                    <a href="#">learn more</a>
                </div>
                <div>
                    <i class="fa-solid fa-code"></i>
                    <h2>web design development</h2>
                    <p>i will teach you how to learn a beggener to advance python programming.</p>
                    <a href="#">learn more</a>
                </div>

            </div>
        </div>

    </div>
<!--------------------Portfolio------------------------>   
    <div id="protfolio">
        <div class="container">
            <h1 class="sub-title">My Work</h1>
            <div class="work-list">
                <div class="work">
                    <img src="https://drive.google.com/uc?id=18hGbYtlt_2hf3wLSMUgLWHbiBEG0qnNr">
                    <div class="layer">
                        <h3>Social Media App</h3>
                        <p>The app connects you to the talented people around the world download it from play store</p>
                        <a href=""><i class="fa-solid fa-square-up-right"></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="https://drive.google.com/uc?id=1ydz1v57IfV251fxIH1WB6gVqM9bFZRYJ">
                    <div class="layer">
                        <h3>Music App</h3>
                        <p>The app connects you to the talented people around the world download it from play store</p>
                        <a href=""><i class="fa-solid fa-square-up-right"></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="https://drive.google.com/uc?id=1WNhG564NyCxlAI6uS7yutg2hVUJ12YdA"> 
                    <div class="layer">
                        <h3>Online Shopping App</h3>
                        <p>The app connects you to the talented people around the world download it from play store</p>
                        <a href=""><i class="fa-solid fa-square-up-right"></i></a>
                    </div>                    
                </div>               
            </div>
            <a href="#" class="btn">See more</a>
        </div>
    </div>
<!---------------------Contact--------------------->
    <div id="contact">
        <div class="container">
            <div class="row">
                <div class="contact-left">
                    <h1 class="sub-title">Contanct Me</h1>
                    <p><i class="fa-sharp fa-solid fa-paper-plane"></i> rdipak109@gmail.com</p>
                    <p> <i class="fa-sharp fa-solid fa-phone-volume"></i> +8801843551515</p>
                    <div class="social-icons">
                        <a href="https://www.linkedin.com/in/dipak-roy-rdipak109/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://www.facebook.com/Dipakroy109" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://twitter.com/roy527947" target="_blank"><i class="fa-brands fa-square-twitter"></i></a>
                    </div>
                    <a href="images/My Cv.pdf" download class="btn btn2">Download CV</a>
                </div>
                <div class="contact-right">
                    <form name="submit-to-google-sheet">
                        <input type="text" name="Name" placeholder="Your Name" required>
                        <input type="email" name="Email" placeholder="Your Email" required>
                        <textarea name="Message" rows="6" placeholder="Your Message"></textarea>
                        <button type="submit" class="btn btn2">Submit</button>
                    </form>
                    <span id="msg"></span>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>copyright @ Dipak. Made with <i class="fa-solid fa-heart"></i> by Easy Tutorials</p>
        </div>
    </div>
    
    <script>
        var tablinks = document.getElementsByClassName("tab-links");
        var tabcontents = document.getElementsByClassName("tab-contents");
        function opentab(tabname){
            for(tablink of tablinks){
                tablink.classList.remove("active-link") 
            }
            for(tabcontent of tabcontents){
                tabcontent.classList.remove("active-tab") 
            }
            event.currentTarget.classList.add("active-link")
            document.getElementById(tabname).classList.add("active-tab");
        }
    </script>

    <script>

        var sidemenu = document.getElementById("sidemenu");

        function openmenu(){
            sidemenu.style.right = "0";
        }
        function closemenu(){
            sidemenu.style.right = "-200px";
        }      

    </script> 
    
    <script>
        const scriptURL = 'https://script.google.com/macros/s/AKfycbx_H7IhBdwUsgyheFwe1lpq-AA_A_D34Wb1xMXXkTYiS0GBQDU0j3ukel6OyJwxLi_P0Q/exec'
        const form = document.forms['submit-to-google-sheet']
        const msg = document.getElementById("msg")
      
        form.addEventListener('submit', e => {
          e.preventDefault()
          fetch(scriptURL, { method: 'POST', body: new FormData(form)})
            .then(response => {
                msg.innerHTML = "Message sent successfully"
                setTimeout(function(){
                    msg.innerHTML = ""
                },5000)
                form.reset()
            })
            .catch(error => console.error('Error!', error.message))
        })
      </script>

</body>
</html>